<p id="notice"><%= notice %></p>

<h1>Listing Workgroups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date Created:</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @workgroups.each do |workgroup| %>
      <tr>
        <td><%= workgroup.title %></td>
        <td><%= workgroup.description %></td>
        <td><%= workgroup.created_at %></td>
        <td><%= link_to 'Show', workgroup %></td>
        <td><%= link_to 'Edit', edit_workgroup_path(workgroup) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workgroup', new_workgroup_path %>
