<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h2>Local Account Log in</h2>

    <% if AUTH_CONFIG['shibboleth_enabled'] %>
      <p>Note: If you are affiliated with UC, use the <%= link_to 'Central Login form', user_shibboleth_omniauth_authorize_path %> instead.</p>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <p><%= f.submit "Log in" %></p>
      </div>
    <% end %>

    <% if AUTH_CONFIG['signups_enabled'] %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <br />
    <% end %>

    <p><%= link_to 'Reset/Forgot your password?', new_user_password_path %></a></p>
  </div>
</div>