<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% if @presenter.universal_viewer? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
          <div class="col-sm-3 text-center">
            <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.universal_viewer? %>
            <% if !@presenter.representative_presenter.nil? && @presenter.representative_presenter.mime_type == "application/pdf" %>
              <%= render 'hyrax/file_sets/show_pdf_helper' %>
            <% end %>
            <%= render 'citations', presenter: @presenter %>
            <%= render 'social_media' %>
            <%= t('.date_uploaded') %>: <%= @presenter.date_uploaded %>
            <br><%= t('.date_modified') %>: <%= @presenter.date_modified %>
          </div>
          <div class="col-sm-9">
            <%= render 'work_description', presenter: @presenter %>
            <%= render 'metadata', presenter: @presenter %>
          </div>
          <div class="col-sm-12">
            <%= render 'doi', presenter: @presenter unless @presenter.doi.nil? %>
            <%= render 'relationships', presenter: presenter unless @presenter.member_of_collection_presenters.empty?%>
            <%= render 'parent_relationship_table', child_id: @presenter.solr_document.id %>
            <%= render 'items', presenter: @presenter %>
            <%# TODO: we may consider adding these partials in the future %>
            <%# = render 'sharing_with', presenter: @presenter %>
            <%# = render 'user_activity', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
